body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    margin-top: 20px;
 margin-bottom: 20px;
}

.header {
    background-color: #99B9C8;
    color: white;
    padding: 20px;
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.service-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    perspective: 1000px;
    width: 300px;
    height: 400px;
    position: relative;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    text-align: left justify;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.6s;
}

.card-front {
    background-color: white;
}

.card-front img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.card-front p {
    color: #777;
}

.card-back {
    background-color: #99B9C8;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-back h1 {
    color: #D63F64;
}

.card-back p {
    margin-top: 50px;
    color: #D63F64
}

#card-footer {
    margin-top: 25px;
    color: #D63F64;
}

.service-card.flipped .card-front {
    transform: rotateY(180deg);
}

.service-card.flipped .card-back {
    transform: rotateY(360deg);
}

@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 90%;
    }
}
