/* Estilos para a página "Quem Somos" */
.company-summary {
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo branca */
    border-radius: 8px; /* Bordas arredondadas */
    margin: 20px auto; /* Espaçamento ao redor da seção */
    max-width: 800px; /* Largura máxima */
}

.company-summary h1 {
    color: #252b3d; /* Cor do título */
    margin-bottom: 15px;
}

.company-summary p {
    color: #56585d; /* Cor do texto */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
}

.social-media {
    padding: 20px;
    background-color: #f4f4f4; /* Cor de fundo cinza claro */
    border-radius: 8px; /* Bordas arredondadas */
    margin: 20px auto; /* Espaçamento ao redor da seção */
    max-width: 800px; /* Largura máxima */
    text-align: center; /* Centraliza o texto */
}

.social-media h2 {
    color: #252b3d; /* Cor do título */
    margin-bottom: 15px;
}

.social-media p {
    color: #56585d; /* Cor do texto */
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    gap: 15px; /* Espaço entre os ícones */
}

.social-icon img {
    width: 40px; /* Ajuste o tamanho dos ícones conforme necessário */
    height: 40px; /* Ajuste o tamanho dos ícones conforme necessário */
    border-radius: 50%; /* Bordas circulares para os ícones */
    transition: transform 0.3s; /* Transição suave para efeitos de hover */
}

.social-icon img:hover {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}

.company-summary h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}
